---
layout: default
title: 
---

<!-- meta itemprop="image" content="{{ site.image }}" -->
<!-- Banner -->
<section id="banner">
    <h2>Simplify the Connected World.</h2>
    <p>Quickly design, prototype, and commercizlize IoT solutions</p>
    <ul class="actions">
        <li><a href="#" class="button special">Getting started</a></li>
        <!-- li><a href="#" class="button">Learn More</a></li -->
    </ul>
</section>

<!-- Main -->
<section id="main" class="container">

    <section class="box special">
        <header class="major">
            <h2>Project Build with myGateway</h2>
            <p>myGateway description.
                <br />
                ...
            </p>
        </header>
        <span class="image featured">
            <img src="{{ BASE_PATH }}/images/no_thumbnail.jpg" alt="" />
        </span>
    </section>

    <div class="row">
        {% for post in paginator.posts %}
        <div class="6u 12u(narrower)">
            <section class="box special">
                <span class="image featured">
                    {% if post.thumbnail_url != null %}
                    <img src="{{ BASE_PATH }}/images/{{ post.thumbnail_url }}" alt="" />
                    {% else %}
                    <img src="{{ BASE_PATH }}/images/no_thumbnail.jpg" alt="" />
                    {% endif %}
                    <!-- img src="images/pic02.jpg" alt="" / -->
                </span>
                <h3><a class="title" href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
                <p>
                {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
                </br>
                <cite>{{ post.date | date: "%Y-%m-%d" }}</cite> <i class="icon-tag"></i>
                </br>
                {% for tag in post.tags %}<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }}</a>
                    {% if forloop.last %}
                    {% else %}, {% endif %}
                {% endfor %}
                </p>
                <ul class="actions">
                    <li><a href="{{ BASE_PATH }}{{ post.url }}" class="button alt">Learn More</a></li>
                </ul>
            </section>
        </div>
        {% endfor %}
    </div>
</section>

<!-- CTA -->
<!-- section id="cta">
    <h2>Sign up for beta access</h2>
    <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

    <form>
        <div class="row uniform 50%">
            <div class="8u 12u(mobilep)">
                <input type="email" name="email" id="email" placeholder="Email Address" />
            </div>
            <div class="4u 12u(mobilep)">
                <input type="submit" value="Sign Up" class="fit" />
            </div>
        </div>
    </form>
</section -->
