<!-- div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>

			{{ content }}
		</div>
	</div>
</div -->

<div class="6u 12u(narrower)">

    <section class="box special">
        <span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
        <h3>{{ page.title }}</h3>
        {% if page.excerpt %}
        <p>{{ page.excerpt }}</p>
        {% else %} {% if page.tagline %}
        <p>{{ page.tagline }}</p>
        {% else %}
        <p>&nbsp;</p>
        {% endif %}
        {% endif %}
        <ul class="actions">
            <li><a href="{{ page.url }}" class="button alt">Learn More</a></li>
        </ul>
    </section>

</div>
